In [1]:
import geopandas as gpd
import pandas as pd
from pathlib import Path

In [2]:
# get tigerline / census shapefiles from year 2020
dir = Path('/Users/joshpaul/epa-justice/repo/epa-justice/shp')
tl_shps = list(dir.glob('**/tl*20.shp'))
tl_shps

[PosixPath('/Users/joshpaul/epa-justice/repo/epa-justice/shp/tl_2020_02_county20.shp'),
 PosixPath('/Users/joshpaul/epa-justice/repo/epa-justice/shp/tl_2020_02_tract20.shp'),
 PosixPath('/Users/joshpaul/epa-justice/repo/epa-justice/shp/tl_2020_02_place20.shp')]

In [3]:
# read in results table and create geodataframes, reprojecting to web mercator
crs = 3857
results = pd.read_csv('/Users/joshpaul/epa-justice/repo/epa-justice/tbl/data_to_export.csv')
county = gpd.read_file(tl_shps[0]).to_crs(crs)
tract = gpd.read_file(tl_shps[1]).to_crs(crs)
place = gpd.read_file(tl_shps[2]).to_crs(crs)

In [4]:
# note that results GEOID column uses 3 digit county code, 5 digit place code, and 9 digit tract code
# so we will need to adjust the tract ID (removing the first 2 digits) to merge the geometry to the results
results['GEOID'].unique()

array(['013', '020', '050', '060', '063', '066', '068', '070', '090',
       '100', '105', '110', '122', '130', '150', '158', '164', '170',
       '180', '185', '188', '195', '198', '220', '230', '240', '275',
       '282', '290', '020000101', '020000102', '020002900', '090980000',
       '00650', '00760', '00870', '01090', '01200', '01305', '01390',
       '01420', '01560', '01860', '01970', '02080', '03110', '03220',
       '03440', '03550', '03880', '03990', '04210', '04430', '04500',
       '04670', '05000', '05585', '05750', '06245', '06520', '06630',
       '06850', '07070', '07620', '08740', '09600', '09657', '09710',
       '10150', '11690', '11800', '12350', '12680', '12920', '12970',
       '13230', '13340', '13450', '13670', '13780', '13860', '13890',
       '14000', '14110', '14330', '14880', '15320', '15430', '16360',
       '16420', '16530', '16630', '16750', '17190', '17300', '17410',
       '17670', '17850', '17960', '18510', '18620', '18675', '18805',
       '18925', '18950', '19060', '19720', '19750', '20020', '20380',
       '20600', '20970', '21040', '21150', '21370', '21810', '22250',
       '22910', '23460', '23720', '23790', '23900', '24660', '24980',
       '25000', '25220', '25550', '25880', '26100', '26760', '26835',
       '26870', '26910', '27090', '27145', '27420', '27530', '27700',
       '28200', '28590', '28740', '29130', '29180', '29290', '30060',
       '30500', '30940', '31050', '31270', '31710', '31765', '32150',
       '32310', '32550', '32810', '33030', '33140', '33360', '33470',
       '33580', '33800', '33910', '34350', '34460', '34570', '34790',
       '35120', '35890', '36540', '36770', '36990', '37250', '37430',
       '37540', '37650', '37975', '38090', '38420', '38910', '38970',
       '39300', '39630', '39740', '39960', '40510', '40645', '40670',
       '40840', '40950', '41210', '41280', '41500', '41610', '41720',
       '41830', '41940', '42050', '42160', '42380', '42490', '42805',
       '42820', '43040', '43260', '43810', '44030', '44580', '45020',
       '45295', '45460', '45700', '45790', '46010', '46780', '46890',
       '47000', '47735', '47990', '48200', '48540', '48590', '49200',
       '49530', '50080', '50190', '50800', '51180', '51455', '51960',
       '52060', '52210', '52390', '52720', '52845', '52915', '52940',
       '53050', '53270', '53710', '53820', '53930', '54050', '54085',
       '54150', '54260', '54480', '54700', '54920', '55030', '55140',
       '55745', '55910', '56220', '56320', '56350', '56600', '56680',
       '57340', '58330', '58550', '58660', '59320', '59540', '59650',
       '60200', '60310', '60460', '60640', '60750', '60860', '61080',
       '61120', '61190', '61630', '61700', '61788', '61825', '62125',
       '62285', '62510', '62620', '63170', '63280', '63390', '63610',
       '64240', '64380', '64600', '64820', '64930', '64980', '65345',
       '65590', '65700', '65800', '66140', '66360', '66470', '66510',
       '66550', '67020', '67460', '67570', '67680', '68230', '68340',
       '68370', '68560', '68670', '68890', '69770', '70100', '70320',
       '70760', '70870', '70930', '71090', '71640', '72135', '72190',
       '72230', '72960', '72985', '73070', '73290', '73400', '73950',
       '74340', '74350', '74525', '74610', '74830', '75050', '75077',
       '75160', '75380', '75480', '75930', '76260', '76590', '77140',
       '77690', '77800', '78240', '78297', '78350', '78680', '78790',
       '79120', '79230', '79780', '79830', '79890', '80100', '80660',
       '80770', '81320', '81920', '82200', '82420', '82750', '82860',
       '83080', '84000', '84070', '84120', '84200', '84510', '85280',
       '85290', '85610', '85680', '86490', '02', '1',
       '020000201, 020000202, 020000204, 020000205, 020000206',
       '020980100, 020980200'], dtype=object)

In [5]:
# prep county gdf, renaming to GEOID and dropping all columns except geometry
county["GEOID"] = county['COUNTYFP20']
county = county[['GEOID', 'geometry']]
county

   GEOID                                           geometry
0    050  MULTIPOLYGON (((-17838823.054 8815510.630, -17...
1    164  POLYGON ((-17800003.164 7657440.452, -17797722...
2    060  POLYGON ((-17588474.981 8103444.343, -17586660...
3    070  MULTIPOLYGON (((-17963061.617 8125781.782, -17...
4    170  POLYGON ((-17032091.483 9033337.513, -17032051...
5    013  MULTIPOLYGON (((-18371741.628 7280122.270, -18...
6    158  POLYGON ((-18510920.602 8765639.205, -18510197...
7    185  POLYGON ((-18587209.296 10550351.101, -1858718...
8    180  MULTIPOLYGON (((-18727449.034 9775291.850, -18...
9    016  MULTIPOLYGON (((-19849132.149 6778748.358, -19...
10   150  MULTIPOLYGON (((-17247139.923 7820588.333, -17...
11   282  POLYGON ((-16018131.779 8396616.262, -16018131...
12   066  POLYGON ((-16446820.244 8724366.225, -16443108...
13   063  MULTIPOLYGON (((-16580900.340 8375891.369, -16...
14   230  POLYGON ((-15107981.507 8339878.636, -15106790...
15   105  MULTIPOLYGON (((-14883048.676 7923900.784, -14...
16   130  POLYGON ((-14724011.306 7485857.929, -14717095...
17   188  POLYGON ((-18433615.672 10457324.966, -1843135...
18   220  POLYGON ((-15190037.330 7931831.646, -15188728...
19   290  POLYGON ((-16622830.830 10446997.018, -1660284...
20   020  POLYGON ((-16745398.154 8664388.754, -16743113...
21   198  MULTIPOLYGON (((-14662262.607 7381104.333, -14...
22   195  POLYGON ((-14887214.697 7808868.148, -14886634...
23   275  POLYGON ((-14824295.139 7629454.346, -14823879...
24   110  POLYGON ((-15052488.407 8174977.396, -15051479...
25   122  POLYGON ((-16689000.026 8635731.841, -16687605...
26   068  POLYGON ((-17031620.157 9033718.913, -17031338...
27   240  POLYGON ((-16363969.265 9314239.039, -16363957...
28   090  POLYGON ((-16549118.959 9501400.031, -16548764...
29   100  POLYGON ((-15194638.165 8240092.595, -15194464...

In [6]:
# prep tract gdf, using only last 9 digits of GEOID, renaming to GEOID and dropping all columns except geometry
tract["GEOID"] = tract['GEOID20'].str[-9:]
tract = tract[["GEOID", "geometry"]]
tract

         GEOID                                           geometry
0    130000400  POLYGON ((-14651810.932 7425976.042, -14651775...
1    170001004  POLYGON ((-16632862.497 8761005.812, -16632281...
2    170000701  POLYGON ((-16667088.343 8771828.153, -16667084...
3    170000102  POLYGON ((-16718098.718 8899729.860, -16717843...
4    170000604  POLYGON ((-16732456.150 8689910.990, -16732156...
..         ...                                                ...
172  020000500  POLYGON ((-16694422.955 8679565.931, -16692482...
173  198000300  POLYGON ((-14514793.225 7547112.508, -14514713...
174  198940100  POLYGON ((-14661178.690 7381717.416, -14660341...
175  198000100  POLYGON ((-14991024.909 7615027.450, -14990943...
176  198000200  POLYGON ((-14826887.770 7470378.879, -14826639...

[177 rows x 2 columns]

In [7]:
# prep place gdf, renaming to GEOID and dropping all columns except geometry
place["GEOID"] = place["PLACEFP20"]
place = place[["GEOID", "geometry"]]
place

     GEOID                                           geometry
0    06520  POLYGON ((-18024480.810 8575001.052, -18024480...
1    14330  POLYGON ((-17734409.490 8759711.396, -17734240...
2    42380  POLYGON ((-17975083.009 8584489.501, -17973936...
3    45460  POLYGON ((-17853235.588 8746199.094, -17851549...
4    47990  POLYGON ((-18518903.879 8479783.747, -18518804...
..     ...                                                ...
350  85280  POLYGON ((-16739340.369 8763503.840, -16739296...
351  85290  POLYGON ((-16176806.247 8842804.748, -16176557...
352  85610  POLYGON ((-16736277.748 10265967.755, -1673533...
353  85680  POLYGON ((-17005373.358 7893332.312, -17004122...
354  86490  POLYGON ((-15569502.654 8298459.929, -15569487...

[355 rows x 2 columns]

In [8]:
# combine all polygons into one gdf
polys = pd.concat([county, tract, place])
polys

     GEOID                                           geometry
0      050  MULTIPOLYGON (((-17838823.054 8815510.630, -17...
1      164  POLYGON ((-17800003.164 7657440.452, -17797722...
2      060  POLYGON ((-17588474.981 8103444.343, -17586660...
3      070  MULTIPOLYGON (((-17963061.617 8125781.782, -17...
4      170  POLYGON ((-17032091.483 9033337.513, -17032051...
..     ...                                                ...
350  85280  POLYGON ((-16739340.369 8763503.840, -16739296...
351  85290  POLYGON ((-16176806.247 8842804.748, -16176557...
352  85610  POLYGON ((-16736277.748 10265967.755, -1673533...
353  85680  POLYGON ((-17005373.358 7893332.312, -17004122...
354  86490  POLYGON ((-15569502.654 8298459.929, -15569487...

[562 rows x 2 columns]

In [9]:
# merge em
results_polys = results.merge(polys, how="left", on="GEOID")

In [10]:
# results for some places have a comma-separated string of places in the GEOID column
# so we need to explode these records, get the corresponding polygons, and dissolve those polygons in order to merge with results

dfs = []

for index_, row in results.iterrows():
    if "," in row["GEOID"]:
        geoids = row["GEOID"].split(", ")

        df = pd.DataFrame(data={"GEOID":geoids})
        df["id"] = row["id"]
        df["name"] = row["name"]
        df["GEOID"] = df["GEOID"].str[-9:]

        dfs.append(df)

multi = pd.concat(dfs)
multi_ = multi.merge(polys, how="left", on="GEOID")
multi_poly = gpd.GeoDataFrame(multi_, geometry="geometry")
dissolved = multi_poly.dissolve(by="id", as_index=False)

In [11]:
# merge the dissolved polygons and combine the geometry columns into one
gdf = results_polys.merge(dissolved[["id", "geometry"]], how="left", on="id")
gdf.loc[gdf["geometry_x"].isna(), "geometry_x"] = gdf["geometry_y"]
gdf.drop(columns="geometry_y", inplace=True)
gdf.rename(columns={"geometry_x":"geometry"}, inplace=True)
gdf = gpd.GeoDataFrame(gdf, geometry="geometry")

In [12]:
# check for missing geometry... only the state of AK and the US should be missing
gdf[gdf.geometry.isna()]

,id,name,areatype,placename,GEOID,total_population,pct_65_plus,pct_under_18,pct_under_5,pct_hispanic_latino,...,pct_copd,pct_diabetes,pct_kd,pct_stroke,pct_no_bband,pct_no_hsdiploma,pct_below_150pov,pct_minority,comment,geometry
421,AK0,Alaska,State,Alaska,02,733391.0,12.98,24.46,6.56,6.79,...,5.86,7.92,2.46,2.55,11.85,6.92,17.54,40.96,NaN,None
422,US0,United States,Nation,United States,1,331449281.0,16.83,22.06,5.55,18.73,...,6.59,10.60,2.94,3.01,12.91,11.45,20.92,40.55,NaN,None

In [13]:
# finally, replace the word "county" with "borough" in the comment column
gdf['comment'] = gdf['comment'].replace({'county': 'borough'}, regex=True)
gdf

,id,name,areatype,placename,GEOID,total_population,pct_65_plus,pct_under_18,pct_under_5,pct_hispanic_latino,...,pct_copd,pct_diabetes,pct_kd,pct_stroke,pct_no_bband,pct_no_hsdiploma,pct_below_150pov,pct_minority,comment,geometry
0,BORO1,Aleutians East Borough,County,Aleutians East Borough,013,3420.0,6.87,8.77,2.05,19.71,...,5.40,13.10,3.00,3.30,42.50,15.30,22.70,87.20,NaN,"MULTIPOLYGON (((-18371741.628 7280122.270, -18..."
1,BORO19,Municipality of Anchorage,County,Anchorage Municipality,020,291247.0,12.41,23.46,6.43,9.08,...,5.30,7.90,2.60,2.60,7.30,5.80,15.10,43.90,NaN,"POLYGON ((-16745398.154 8664388.754, -16743113..."
2,AK15,Anchorage,County,Anchorage Municipality,020,291247.0,12.41,23.46,6.43,9.08,...,5.30,7.90,2.60,2.60,7.30,5.80,15.10,43.90,Data represent information from nearest boroug...,"POLYGON ((-16745398.154 8664388.754, -16743113..."
3,CENS9,Bethel Census Area,County,Bethel Census Area,050,18666.0,8.24,35.02,9.61,1.11,...,10.40,14.80,3.90,4.80,25.20,18.00,43.90,90.80,NaN,"MULTIPOLYGON (((-17838823.054 8815510.630, -17..."
4,BORO17,Bristol Bay Borough,County,Bristol Bay Borough,060,844.0,16.11,22.04,5.33,5.33,...,6.90,10.70,3.40,3.60,23.50,5.30,8.00,58.80,NaN,"POLYGON ((-17588474.981 8103444.343, -17586660..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,AK435,Yakutat,Census designated place,Yakutat CDP,86490,657.0,18.42,19.18,4.72,4.26,...,7.20,10.90,3.10,3.40,16.20,5.40,13.20,69.60,Data represent information from nearest census...,"POLYGON ((-15569502.654 8298459.929, -15569487..."
421,AK0,Alaska,State,Alaska,02,733391.0,12.98,24.46,6.56,6.79,...,5.86,7.92,2.46,2.55,11.85,6.92,17.54,40.96,NaN,None
422,US0,United States,Nation,United States,1,331449281.0,16.83,22.06,5.55,18.73,...,6.59,10.60,2.94,3.01,12.91,11.45,20.92,40.55,NaN,None
423,AK103,Eagle River,Census tract,"Census Tract 2.01, Census Tract 2.02, Census T...","020000201, 020000202, 020000204, 020000205, 02...",25118.0,10.37,27.03,6.96,7.84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Data for this place represent multiple merged ...,"POLYGON ((-16654331.018 8694255.852, -16654242..."
424,AK439,Joint Base Elmendorf-Richardson,Census tract,"Census Tract 9801, Census Tract 9802","020980100, 020980200",11317.0,1.54,25.18,11.03,17.34,...,NaN,NaN,NaN,NaN,4.50,2.13,14.85,45.25,Data for this place represent multiple merged ...,"POLYGON ((-16669912.184 8717641.839, -16662613..."

In [14]:
# export as shp, which will auto-truncate column names to 10 characters
# we will fix these columns names in the API after querying from GeoServer!
gdf.to_file("shp/demographics.shp")

/var/folders/dz/1ccfqg_n5mg3fsrt8rwm7fd80000gn/T/ipykernel_4669/1410685587.py:3: UserWarning: Column names longer than 10 characters will be truncated when saved to ESRI Shapefile.
  gdf.to_file("shp/demographics.shp")